---
layout: default

workshops:
 - name: mapping_r
   description: This tutorial walks through three examples demonstrating how geospatial data can be manipulated and visualized in R.
 - name: dataviz_r
   description: An introductory workshop to data visualization using R.
 - name: techandtexts
   description: An open seminar/workshop hosted by the University of Michigan Library to explore the technology and theory behind data visualization. 

projects:
 - name: arc_gis
   description: Introductory material to GIS.
 - name: complex_mapping
   description:  A workshop on creating maps in ArcGIS from complex and multivariable datasets.
 - name: crawling_noise
   description: Using the free and open-source SuperCollider software, this project generated music from web crawling information. 
 - name: csv_map
   description: A project for creating easily reusable and updatable choropleth maps from simple datasets.
 - name: cytoscape
   description: A workshop for network analysis using the free and open source software Cytoscape.
 - name: debate_analysis
   description: A project using Sentiment Analysis to visualize the intensity of emotions and opinions expressed during the 2016 primary debates.
 - name: django_field_notebook
   description:  A reusable and customizable web-based ‘field notebook,’ designed with humanities and social science researchers in mind.
 - name: dotmap_workshop
   description: Files accompanying the Geographical data and parallel computer with R and Python workshop jointly offered by the Clark Library, CSCAR, LSA IT, and ARC-TS at the University of Michigan.
 - name: Lidar_classification
   description: Classifying 3-d objects (specifically, buildings) using LIDAR point cloud source data.
 - name: network_study
   description: A usability study of various network layout techniques aimed at determining which layouts make different aspects of network structure more easily understandable.
 - name: soms
   description: A tutorial on creating self-organizing maps in R.
 - name: textmining
   description: A workshop introducing basic text mining techniques using R and the Stanford Named Entity Recognizer.
 - name: typesetting
   description: In the days of the letterpress, printing blocks of text required letters (often cast in metal) to be arranged in the necessary sequence. This program is designed to match blocks of texts with known sets of letterpress press, and determine which sets have enough letters for printing.
 - name: webmapping
   description: A tutorial for open source web mapping using Leaflet and the New York Public Library’s mapwarper.

---

<div class="home">
   
   <p>The Digital Projects Studio is part of the University of Michigan's Clark Library. We 
     provide tutorials and support for visualization work. Connect to our workshops and projects
     below, or peruse our <a href="https://digitalprojectstudio.wordpress.com/">blog</a> for additional information.</p>  
 
 Projects: 
 {% for project in page.projects %}
   {{project.name}}:{{project.description}}<br/>
  {% endfor %}
 
   <h2>Workshops</h2>
 
    <div class="row pack" style="display: block">
       {% assign workshop = "mapping_R|datavis_r|techandtexts" | split: '|'  %}
        
       {% for repository in workshop %}  
           {% assign  %}
           <div class="col-md-4 card">
                 
               <div class="panel panel-default">
                 
                  <div class="panel-body">
                     <h3 class="panel-title pull-left">{{ repository | truncate: 25 }}</h3>
                  </div>
                
                     <a href="http://clarkdatalabs.github.io/{{ repository }}">
                        <img width="100%" src="https://clarkdatalabs.github.io/{{ repository }}/images/thumbnail.png" alt="{{post.title}}">
                     </a>
                
                     {% if repository == workshop.name in page.workshops%}
                          {{workshop.name}}:{{workshop.description}}<br/>
                     {% endif %}
                
                     {{}}
                
                  <div class="panel-body">
                    {% for post in site.posts %}
                          {{ post.excerpt }}
                    {% endfor %}
                    <small> {{ post.excerpt | strip_html | strip_newlines | truncate: 160 }}</small>  
                   
                    <a href="http://clarkdatalabs.github.io/{{ repository }}" class="btn btn-primary btn-sm pull-right mt10">More</a>
                  </div>
                 
                </div>
              
            </div>
         {% endfor %}
       
      </div>
     
     <hr>
     <h2>Projects</h2>
  
     <div class="row pack">
     {% assign projects = "arc_gis|complex_mapping|crawling_noise|csv_map|cytoscape|debate_analysis|django_field_notebook|dotmap_workshop|Lidar_classification|network_study|soms|textmining|typesetting|webmapping" | split: '|'  %}   
        
     {% for repository in projects %}
            <div class="col-md-4 card">
                 
               <div class="panel panel-default">
                 
                  <div class="panel-body">
                    <h3 class="panel-title pull-left">{{ repository | truncate: 25 }}</h3>
                  </div>
                 
                  <img width="100%" src="https://clarkdatalabs.github.io/{{ repository }}/images/thumbnail.png" alt="{{post.title}}">
                 
                  <div class="panel-body"><small>
                    {{ post.excerpt | strip_html | strip_newlines | truncate: 160 }}</small>
                    <a href="http://clarkdatalabs.github.io/{{ repository }}" class="btn btn-primary btn-sm pull-right mt10">More</a>
                  </div>
                 
               </div>
             
            </div>
       {% endfor %}
     
     </div> 
    
<div class="row">
    <div class="col-md-4">  </div>
    <div class="col-md-4">
        {% if paginator.total_pages > 1 %}
        <ul class="pagination">
          {% if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a></li>
          {% else %}
            <li><span>&laquo; Prev</span></li>
          {% endif %}

          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <li class="active"><span><em>{{ page }}</em></span></li>
            {% elsif page == 1 %}
            <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
            {% else %}
            <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
            {% endif %}
          {% endfor %}

          {% if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a></li>
          {% else %}
            <li><span >Next &raquo;</span></li>
          {% endif %}
          </ul>
        {% endif %}

    </div>
    <div class="col-md-4">  </div>
</div>
</div>
